
$fontJosefin: 'Josefin Slab', serif;
$fontOswald: 'Oswald', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;
$fontLato: 'Lato', sans-serif;
$fontOpenSansCondensed: 'Open Sans Condensed', sans-serif;

