// navigation bar
#navBar{
    margin: 0 auto;
    max-width: 60rem;

    position: absolute;
    bottom: -2rem;
    left: 50%;
    .centerContainer{
        background-color: $colorWhite;
        border: .1rem solid $colorWhite;

        position: relative;
        right: 50%;
        @include flex(center, center);
        a{
            padding: 1rem 3rem;
        }
    }
}
.active{
    background-color: $colorBlack;
    color: $colorWhite;
}